.FileUpload-container {
    color: #fff;
    border: 1px dashed #ffff80;
    background-color: #272822;
    
    display: flex;
    flex: 2;

    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    
    width: 100%;
    max-width: 1030px;
    margin-top: 25px
  }

.FileUpload-preview {
  height: 100px;
}

.FileUpload-previewg {
  -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.3); /* FF3.5+ */
  -ms-transform: scale(0.3); /* IE9 */
}



@media screen and (max-width: 1000px) {
  .FileUpload-container  {
    width: 500px;
    
  }
}

.FileUpload-link {
  display:'none';
  }

.FileUpload-link:hover {
    color: #ffff80;
  }
  