.App {
  text-align: center;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

.key {
  border: 1px solid #ffff80;
}

.bottom {
  text-align: center;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  color: #fff;
  font-size: calc(6px + 1vmin);
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;

}

.App-header {
  font-size: calc(25px + 1vmin);
  color: #ffff80;
  font-weight: 200;
  margin: 30px;
}